@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
	name: "cupcake";
	default: false;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(98% 0 0);
	--color-base-200: oklch(96% 0.001 286.375);
	--color-base-300: oklch(92% 0.004 286.32);
	--color-base-content: oklch(21% 0.006 285.885);
	--color-primary: oklch(64% 0.222 41.116);
	--color-primary-content: oklch(98% 0.016 73.684);
	--color-secondary: oklch(54% 0.281 293.009);
	--color-secondary-content: oklch(96% 0.016 293.756);
	--color-accent: oklch(60% 0.118 184.704);
	--color-accent-content: oklch(98% 0.014 180.72);
	--color-neutral: oklch(27% 0.006 286.033);
	--color-neutral-content: oklch(98% 0 0);
	--color-info: oklch(62% 0.214 259.815);
	--color-info-content: oklch(97% 0.014 254.604);
	--color-success: oklch(72% 0.219 149.579);
	--color-success-content: oklch(98% 0.018 155.826);
	--color-warning: oklch(70% 0.213 47.604);
	--color-warning-content: oklch(98% 0.016 73.684);
	--color-error: oklch(63% 0.237 25.331);
	--color-error-content: oklch(97% 0.013 17.38);
	--radius-selector: 0rem;
	--radius-field: 1rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 1;
}

@theme {
	--height-headerHeight: 74px;
	--max-height-navbarHeight: 420px;
	--min-height-customHeight: 530px;
}

.action-btn {
	@apply flex bg-info shadow-md justify-center text-white w-full py-2 px-6 transition-colors duration-100 rounded-sm my-3 cursor-pointer;
}

.noisy {
	--noise: 1.5;
	/*--fx-noise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.34' numOctaves='4' stitchTiles='stitch'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='200' height='200' filter='url(%23a)' opacity='0.2'%3E%3C/rect%3E%3C/svg%3E")*/
	/*--depth: 5.1;*/
}

:root {
	/* Forces the underlying Material Design token engine to process a rounded shape */
	--mat-paginator-container-shape: 24px !important;
	--mdc-filled-button-container-shape: 24px !important;
}

/* Fallback fallback targeting the physical element context globally */
mat-paginator {
	--mat-paginator-container-shape: 24px !important;
}

/* src/styles.css */

/*:root ::ng-deep .mat-mdc-paginator .mat-mdc-form-field {*/
/*	--mdc-filled-text-field-container-shape: 12px;*/
/*	--mdc-outlined-text-field-container-shape: 12px;*/
/*}*/

/*.mat-mdc-paginator {*/
/*	--mat-sys-corner-small: 12px;*/
/*}*/

/*.mat-mdc-paginator * {*/
/*	border-radius: 8px !important;*/
/*}*/

/*.mat-mdc-paginator .mat-mdc-form-field {*/
/*	--mdc-outlined-text-field-container-shape: 24px;*/
/*}*/
/**/
/*.mat-mdc-paginator .mdc-notched-outline {*/
/*	border-radius: 24px !important;*/
/*}*/

/*:root .mat-mdc-form-field {*/
/*	--mdc-outlined-text-field-container-shape: 16px !important;*/
/*	--mdc-filled-text-field-container-shape: 16px !important;*/
/*}*/
