<header class="h-headerHeight bg-base-300 shadow-lg flex items-center sticky top-0 z-9999">
	<nav class="flex p-4 w-full h-full items-center justify-between">
		<a class="min-w-0 truncate"
		   routerLink="">
			<h3>gvoRBA</h3>
		</a>
		
		<ul class="flex flex-row shrink-0 gap-4 items-center">
			@if (isLoggedIn()) {
				<li>
					<a routerLink="/rooms"
					   class="py-2 cursor-pointer hover:text-slate-300"
					   [class.font-semibold]="router.url === '/rooms'">
						Rooms
					</a>
				</li>
				
				<li>
					<a routerLink="/bookings"
					   class="py-2 cursor-pointer hover:text-slate-300"
					   [class.font-semibold]="router.url ==='/bookings'">
						Bookings
					</a>
				</li>
				
				<li>
					<a class="py-2 cursor-pointer hover:text-slate-300"
					        (click)="onLogout()">
						Logout
					</a>
				</li>
			}
		</ul>
	</nav>
</header>
