<div class="min-h-[calc(100vh-74px)] bg-base-300 p-4 flex justify-center">
	<div class="card m-4 flex bg-base-200 w-full shadow-md items-center">
		<div class="card-title">
			<h1 class="p-2 m-2 font-semibold text-center text-2xl">
				Booking Details
			</h1>
		</div>
		@if (isLoading()) {
			<mat-spinner diameter="48"
			             class="self-center m-4"
			             aria-label="loading"></mat-spinner>
		} @else {
			<div class="p-2 m-2 grid grid-cols-2 gap-2 w-fit">
				<span class="font-semibold">Booking Id:</span>
				<span>{{ booking().id }}</span>
				
				<span class="font-semibold">Room:</span>
				<span>{{ booking().room.name }}</span>
				
				<span class="font-semibold">User:</span>
				<span>{{ booking().userId.name }}</span>
				
				<span class="font-semibold">Starts At:</span>
				<span>{{ booking().startsAt }}</span>
				
				<span class="font-semibold">Ends At:</span>
				<span>{{ booking().endsAt }}</span>
				
				<span class="font-semibold">Cancelled At:</span>
				<span>{{ booking().cancelledAt }}</span>
				
				<span class="font-semibold">Purpose:</span>
				<span>{{ booking().purpose }}</span>
				
				<span class="font-semibold">Status:</span>
				<span>{{ booking().status }}</span>
				
				<span class="font-semibold">Attendees:</span>
				<span>{{ attendeeNames() }}</span>
				
				@if (!isEditing()) {
					@if (isOwner()) {
						<div class="col-span-2 flex h-full justify-center">
							<button class="action-btn w-auto! self-start"
							        [disabled]="isCancelled()"
							        (click)="onCancelBooking()">
								Cancel Booking
							</button>
						</div>
					}
					
					@if (isAdmin()) {
						<div class="col-span-2 flex h-full justify-center">
							<button class="action-btn w-auto! self-start"
							        [disabled]="booking().status === 'CONFIRMED'"
							        (click)="onUncancelBooking()">
								Uncancel Booking
							</button>
						</div>
					}
					
					<div class="col-span-2 flex h-full justify-center">
						<button class="action-btn w-auto! self-start"
						        (click)="onExportIcs()">
							Export to ICS
						</button>
					</div>
					
					@if (isAdmin() || isOwner()) {
						<div class="col-span-2 flex h-full justify-center">
							<button class="action-btn w-auto! self-start"
							        (click)="onEdit()">
								Edit
							</button>
						</div>
					}
				} @else {
					<div class="p-2 m-2 col-span-2 gap-2 w-fit">
						<form [formGroup]="editingForm"
						      class="grid grid-cols-[auto_1fr] gap-x-4 gap-y-4 p-4 items-center sm:gap-x-2! sm:p-0! [&_label]:self-start!">
							<label for="date"
							       class="font-semibold">
								Time Slot:
							</label>
							<div id="bookingScheduler"
							     class="grid grid-cols-3 gap-2 items-center">
								<mat-form-field appearance="outline">
									<input matInput
									       placeholder="Select a Date"
									       formControlName="date"
									       [matDatepickerFilter]="isWeekdayFilter"
									       [max]="maxDate()"
									       [min]="minDate()"
									       [matDatepicker]="picker1">
									<mat-datepicker-toggle matIconSuffix
									                       startView="year"
									                       [for]="picker1"></mat-datepicker-toggle>
									<mat-datepicker #picker1
									                panelClass="shadow-lg rounded-lg"></mat-datepicker>
								</mat-form-field>
								
								<mat-form-field appearance="outline">
									<mat-select formControlName="startsAt"
									            placeholder="Select a Start Time">
										@for (value of startOptions(); track value.value) {
											<mat-option [value]="value.value">{{ value.label }}</mat-option>
										}
									</mat-select>
								</mat-form-field>
								
								<mat-form-field appearance="outline">
									<input matInput
									       placeholder="Enter a Duration"
									       formControlName="duration"
									       type="number"
									       id="duration"
									       step="15"
									       [min]="MIN_DUR"
									       [max]="maxDuration()">
								</mat-form-field>
							</div>
							
							<label class="font-semibold"
							       for="purpose">
								Purpose:
							</label>
							<textarea name="purpose"
							          placeholder="Enter a description."
							          id="purpose"
							          class="px-2 border items-start rounded-sm min-h-10
							                 w-32 mobile-lg:w-full [@media(width<=768px)]:min-h-16"
							          formControlName="purpose"></textarea>
							
							<label class="font-semibold"
							       for="attendees">
								Attendees:
							</label>
							<select name="attendees"
							        id="attendees"
							        multiple
							        class="border rounded-sm py-0 5 w-full"
							        formControlName="attendees">
								@for (user of users(); track user.id) {
									<option [ngValue]="user.id"
									        class="p-4">
										{{ user.name }}
									</option>
								}
							</select>
						</form>
						
						<div class="col-span-2 flex flex-row gap-2 justify-center">
							<button class="action-btn w-auto!"
							        (click)="onSave()">
								Save
							</button>
							<button class="action-btn w-auto!"
							        (click)="onReset()">
								Reset
							</button>
							<button class="action-btn w-auto!"
							        (click)="onCancel()">
								Cancel
							</button>
						</div>
					</div>
				}
			
			</div>
		}
		
		<div class="flex h-full items-end">
			<button class="action-btn"
			        (click)="onBack()">
				Back
			</button>
		</div>
	</div>
</div>
