<div class="min-h-[calc(100vh-74px)] bg-base-300 p-4 flex justify-center">
	<div class="card m-4 p-4 flex w-4xl bg-base-200 shadow-md items-center">
		<h1 class="text-center text-2xl font-bold">
			Create Booking
		</h1>
		
		<div class="card-body flex justify-center items-center">
			<form [formGroup]="bookingCreateForm">
				<div class="px-4 py-2 m-2 flex gap-2 items-center">
					<label for="roomId">
						Roomd Id:
					</label>
					<select name="roomId"
					        id="roomId"
					        formControlName="roomId">
						@for (room of rooms(); track room.id) {
							<option value="room.id">
								{{ room.name }}
							</option>
						}
					</select>
				</div>
				
				<div class="px-4 py-2 m-2 flex gap-2 items-center">
					<label for="userId">
						User Id:
					</label>
					<select name="userId"
					        id="userId"
					        formControlName="userId">
						@for (user of users(); track user.id) {
							<option value="user.id">
								{{ user.name }}
							</option>
						}
					</select>
				</div>
				
				<div class="px-4 py-2 m-2 flex flex-row gap-2 items-center">
					<label for="startsAt">
						Time Slot:
					</label>
					<mat-form-field>
						<mat-label>Choose Day</mat-label>
						<input matInput
						       [matDatepickerFilter]="isWeekday"
						       [matDatepicker]="picker1">
						<mat-datepicker-toggle matIconSuffix
						                       startView="year"
						                       [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
					</mat-form-field>
					<mat-form-field>
						<mat-label>Starts At</mat-label>
						<mat-select formControlName="startsAt">
							@for (value of startOptions(); track value.value) {
								<mat-option [value]="value.value">{{ value.label }}</mat-option>
							}
						</mat-select>
					</mat-form-field>
					<mat-form-field>
						<mat-label>Duration</mat-label>
						<input matInput
						       formControlName="duration"
						       type="number"
						       id="duration">
					</mat-form-field>
				</div>
				
				<!--
								<div class="px-4 py-2 m-2 flex flex-row gap-2 items-center">
									<label for="endsAt">Ends At:</label>
									<mat-form-field>
										<mat-label>Choose Day</mat-label>
										<input matInput
													 [matDatepickerFilter]="isWeekday"
													 [matDatepicker]="picker2">
										<mat-datepicker-toggle matIconSuffix
																					 startView="year"
																					 [for]="picker2"></mat-datepicker-toggle>
										<mat-datepicker #picker2></mat-datepicker>
									</mat-form-field>
								</div>
				-->
			
			</form>
		</div>
		
		<div class="card-body self-center flex justify-center items-center">
			<button class="action-btn"
			        (click)="onCancel()">
				Cancel
			</button>
		</div>
	</div>
</div>
