<div class="min-h-[calc(100vh-74px)] bg-base-300 p-4 flex justify-center">
	<div class="card m-4 flex w-full bg-base-200 shadow-md items-center">
		<div class="card-title">
			<h1 class="text-xl font-bold p-2 m-2">
				Room Details
			</h1>
		</div>
		@if (!isLoading()) {
			<div class="grid grid-cols-2 gap-x-16 sm:gap-x-8 gap-y-2">
				<p class="flex gap-2">
					<span class="font-semibold">Room Id:</span>
					<span>{{ room()?.id }}</span>
				</p>
				
				<p class="flex gap-2">
					<span class="font-semibold">Name:</span>
					<span>{{ room()?.name }}</span>
				</p>
				
				<p class="flex gap-2">
					<span class="font-semibold">Location: </span>
					<span>{{ room()?.location }}</span>
				</p>
				
				<p class="flex gap-2">
					<span class="font-semibold">Capacity: </span>
					<span>{{ room()?.capacity }}</span>
				</p>
				
				<p class="flex gap-2 col-span-2">
					<span class="font-semibold">Amenities: </span>
					<span>{{ room()?.amenities }}</span>
				</p>
				
				<p class="flex gap-2">
					<span class="font-semibold">Created On: </span>
					<span>{{ room()?.createdOn }}</span>
				</p>
				
				<p class="flex gap-2">
					<span class="font-semibold">Active: </span>
					<span>{{ room()?.isActive }}</span>
				</p>
			</div>
			
			<!-- <div>
				<span>{{ roomBookings()[0] |  json }}</span>
			</div> -->
			
			<div id="calendar-canvas"
			     class="grid grid-cols-[repeat(6,8rem)] grid-rows-[2rem,repeat(10,4rem)]">
				<div class="contents text-center leading-9">
					<div class="col-start-2">Monday</div>
					<div class="col-start-3">Tuesday</div>
					<div class="col-start-4">Wednesday</div>
					<div class="col-start-5">Thursday</div>
					<div class="col-start-6">Friday</div>
				</div>
				
				<div id="calendar"
				     class="col-start-1 col-end-7 row-start-2 row-end-12
									grid grid-cols-subgrid grid-rows-subgrid
									z-10">
					<div id="hours"
					     class="contents text-right bg-primary-content">
						<div class="col-start-1 col-end-2 p-2 leading-11">8:00am</div>
						<hr class="calendar__hashmarks">
						<div class="col-start-1 col-end-2 p-2 leading-11">9:00am</div>
						<hr class="calendar__hashmarks">
						<div class="col-start-1 col-end-2 p-2 leading-11">10:00am</div>
						<hr class="calendar__hashmarks">
						<div class="col-start-1 col-end-2 p-2 leading-11">11:00am</div>
						<hr class="calendar__hashmarks">
						<div class="col-start-1 col-end-2 p-2 leading-11">12:00am</div>
						<hr class="calendar__hashmarks">
						<div class="col-start-1 col-end-2 p-2 leading-11">1:00pm</div>
						<hr class="calendar__hashmarks">
						<div class="col-start-1 col-end-2 p-2 leading-11">2:00pm</div>
						<hr class="calendar__hashmarks">
						<div class="col-start-1 col-end-2 p-2 leading-11">3:00pm</div>
						<hr class="calendar__hashmarks">
						<div class="col-start-1 col-end-2 p-2 leading-11">4:00pm</div>
						<hr class="calendar__hashmarks">
						<div class="col-start-1 col-end-2 p-2 leading-11">5:00pm</div>
						<hr class="calendar__hashmarks">
					</div>
				</div>
				
				<div id="schedule-grid"
				     class="col-start-2 col-end-7 row-start-2 row-end-12
									grid grid-cols-subgrid grid-rows-[repeat(40,1rem)]
									bg-primary-content z-1 rounded-md">
					<div class="col-start-1 bg-amber-900 text-amber-50 z-9999"
					     [style.grid-row-start]="rowGridMapper('13:38:00')"
					     [style.grid-row-end]="rowGridMapper('15:00:00')">
						1:45pm
					</div>
				</div>
				
				<!-- @for (booking of roomBookings(); track booking.id) {
					<div>
					</div>
				} -->
			
			</div>
		} @else {
			<span>Loading...</span>
		}
		
		<div class="flex h-full items-end">
			<button class="action-btn bottom-0"
			        (click)="onBack()">
				Back
			</button>
		</div>
	</div>
</div>
